* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(145, 17, 17);
    height: 50px;
    position: sticky;
    top: 0;
    width: 100%;
}

#nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 50px;
}

.nav-link {
    color: rgb(235, 234, 234);
    margin-right: 70px;
    font-size: 1.7em;
    text-decoration: none;
}

.nav-link:hover {
    color: grey;
}

#about-section {
	text-align: center;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #333;
}

h1 {
    color: rgb(235, 234, 234);
    font-size: 3.5em;
}

#subtitle {
    color: crimson;
    font-size: 3em;
    font-style: italic;
}

#about-text {
    font-size: 1.2em;
    color: rgb(235, 234, 234);
    width: 70%;
    padding-top: 100px;
}

#projects {
    text-align: center;
    height: 100vh;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .5fr 1fr 1fr .5fr;
    gap: 30px;
}

#projects-title {
    grid-column: 1/4;
    font-size: 1.8em;
    margin-top: 50px;
}

.project-card {
    margin: auto;
    font-size: 1.1em;
    width: 300px;
    background-color: #333;
}

.project-card:hover {
    background-color: grey;
}

.project-card a {
    color: rgb(235, 234, 234);
    text-decoration: none;
}

.project-card p {
    padding: 15px;
}

.project-img {
    width: 300px;
}

#showmore {
    grid-column: 1/4;
    margin-top: 30px;
}

#showmore a {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(235, 234, 234);
    background-color: #333;
    padding: 10px;
}

#showmore a:hover {
    background-color: grey;
}

#contact {
    background-color: #333;
    color: rgb(235, 234, 234);
    text-align: center;
    border-bottom: 5px solid rgb(145, 17, 17);
}

#contact-title {
    font-size: 2em;;
    padding: 30px;
}

.contact-link {
    color: crimson;
    font-size: 1.8em;
    text-decoration: none;
    padding: 30px;
}

.contact-link:hover {
    color: tomato;
}

#form-container {
    padding: 30px;
}

#form-container textarea {
    margin-top: 30px;
}

#form-container button {
    padding: 6px;
    background-color: crimson;
    border: none;
}

#form-container button:hover {
    background-color: tomato;
    cursor: pointer;
}

footer {
    color: rgb(235, 234, 234);
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 960px) {
    
    #projects {
        height: fit-content;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr 1fr 1fr .5fr;
    }

    #projects-title {
        grid-column: 1/3;
    }

    #showmore {
        grid-column: 1/3;
    }

}

@media screen and (max-width: 630px) {

    #projects {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr repeat(6, 1fr) .5fr;
    }

    #projects-title {
        grid-column: 1/2;
    }

    #showmore {
        grid-column: 1/2;
    }

}

@media screen and (max-width: 500px) {

    header {
        display: none;  
    } 
}